.root {
  display: grid;
}

.gradient {
  cursor: crosshair;
  display: grid;
  width: 100%;
}

.swatch {
  display: grid;
  height: 240px;
  width: 100%;
}

.fields {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  text-align: center;
}

.field {
  border-radius: 0.25rem;
  border: 1px solid #555555;
  cursor: copy;
  display: grid;
  font-size: 14px;
  padding: 0.25rem 0.25rem 0.75rem;
  place-items: center center;
}

.legend {
  padding: 0 0.5rem;
}
